//THEME USED

$color-white:#fff !important;
$color-black:#000 !important;


$color-blue:#0043c8 !important; 
$color-darkblue:#003a8e !important; 
$color-dark:#403e3f !important; 
$color-gray:#575756 !important; 
$color-lightgray:#f6f6f6 !important; 
$color-lightgray2:#bcbcbc !important; 
$color-gray2:#e5e5e5 !important; 
$color-midgray:#6e6e6e !important; 


$color-primary:$color-dark;
$color-secondary:$color-blue;
