//INFORMATION CENTRE
#shortcode-information-wrapper {
    
    ul.row.informationcentre {
        padding: 0;
        margin: 0;
        
        li.col-md-4.col-holder {
//             margin-bottom: 30px;
            
            &:nth-child(4) {
                width: 66.66% !important; 
                max-width: 66.66% !important;
            }

        }
        
    }
    
    
    
    .holder-wrapper {
        margin-bottom: 30px;
//        border: 1px solid #ddd;
        min-height: 345px;
        
        -webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,.5);
        box-shadow: 0 2px 5px 1px rgba(0,0,0,.5);
        
        
        
        
        .feature-img {
            min-height: 167px;
            background-repeat: no-repeat;
            background-size:cover;
        }
        
        
        .description {
            padding: 15px;
            
            h1 {
                margin: 0;
                font-size: 1.438em;
                font-weight: $bold;
            }
            
            p {
                line-height: 24px;
                letter-spacing: normal;
                color: $color-gray;
                font-size: 1.000em;
            }

        }
        
        
        
    }
}

