.primary-buttons {
    padding: 10px 35px 10px 15px;
    background: $color-dark;
    color:$color-white;
    font-size: 0.750em;
    text-transform: uppercase;
    text-decoration: none !important;
    margin: 15px 0;
    display: inline-block;
    
    
    &:hover {
        background: $color-secondary;
    }
}


.vc_btn3-container {
    padding: 0;
    margin: 0;
    
    a.vc_gitem-link.vc_general.vc_btn3 {
        margin: 0;
        padding: 10px 35px 10px 15px;
        background: $color-dark;
        color:$color-white;
        font-size: 0.750em;
        text-transform: uppercase;
        text-decoration: none !important;
        margin: 15px 0;
        @include border-radius(0);
        
         &:hover {
            background: $color-secondary;
        }
    }
    
}



.secondary-buttons {
    padding: 5px;
    background: $color-secondary;
    color:$color-white;
    font-size: 0.750em;
    text-transform: uppercase;
    text-decoration: none !important;
    display: block;
    width: 100px;
    margin: 15px auto;
    
    
    &:hover {
        opacity: .5;
    }
}










.side-contacts {
    position: fixed;
    top: 60%;
    right: -12px;
    z-index: 9;
    transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
    
    @include transition(0.3s);
    
    a {
        display: none; 
        
        &:hover {
            opacity: .6;
            transform: translate(10%,0)
        }
        
    }
    
    a.jobseeker {
        background-image: url("../custom-php/sprites.png");
        background-position: -558px 0;
        width: 103px;
        height: 183px;
    }
    
    a.employer {
        background-image: url("../custom-php/sprites.png");
        background-position: -450px 0;
        width: 110px;
        height: 229px;
    }
    
}


// CUSTOM FOR ABOUT VIEW ONLY 
.page-id-3308 {
    .side-contacts {
        top: 10% !important;
        
        a.employer {
            display: block !important;
         }
        a.jobseeker { 
            display: none !important; 
        }


    }
}






//TEMPLATE SETTINGS 
.page-template-template-jobseeker,
.page-template-template-jobseeker-subpages,
.page-template-template-aboutus-subpages,
.single-career_resources,
.tax-career_resources_categories,
.page-template-template-HTML
{
    
    
     .left-menu {
        ul {
            li {
                &:nth-child(1) {
                    a {
                        font-weight: $bold;
                    }
                }
            }
        }
    }
    
    .side-contacts {
        a.jobseeker {
            display: block;
        }
    }
    
    
    
    #site-navigation {
        ul {
            li {
                 &:nth-child(3),
                 &:nth-child(4) {
                    display: none;
                }
            }
           
        }
    }
    
    
}


//employer
.page-template-template-employer,
.page-template-template-employer-subpages,
.page-template-template-business-subpages,
.tax-information_categories,
.single-information_centre

{
    
     .side-contacts {
        a.employer {
            display: block;
        }
    }
    
    
    
    .left-menu {
        ul {
            li {
                &:nth-child(2) {
                    a {
                        font-weight: $bold;
                    }
                }
            }
        }
    }
    
    #site-navigation {
        ul {
            li {
                 &:nth-child(1),
                 &:nth-child(2) {
                    display: none;
                }
            }
           
        }
    }
    
}




.scrolling {
      transform: translate(0%,0);
    -webkit-transform: translate(0%,0);
    -moz-transform: translate(0%,0);
}