.site-footer  {
    padding-top: 0 !important;
    padding-bottom: 20px !important;
    
    .footer-column-container {
        > div {
            
            &:nth-child(2),
            &:nth-child(3) {
                
                aside {
                    margin-top: 10px !important;
                    
                    ul {
                        li {
                            a {
                                color:$color-white;
                                text-decoration: none;
                                
                                &:hover {
                                    color: $color-lightgray;
                                }
                            }
                        }
                    }
                    
                    div {
                        color:$color-white;
                    }
                }
                
                
                
            }
            
          
            &:nth-child(2) {
                padding: 0;
                
                
                aside,ul {
                    margin: 0;
                }
                
                aside {
                    display: inline-block;
                    margin-right: 10px;
                    
                    ul {
                        li {
                            display: inline;
                             
                            a {
                                font-size: 0.625em;
                                text-transform: uppercase;
                            }
                        }
                    }
                    
                    
                    &:first-child {
                        
                        ul {
                            li {
                                a {
                                    pointer-events: none;
                                }
                            }
                        }
                        
                    }
                    
                    
                    &:last-child {
                        
                        ul {
                            li {
                                &::after {
                                    content: '|';
                                    margin-left: 5px;
                                }
                            }
                        }
                        
                    }
                    
                    
                }
            }
            
            
            &:first-child {
                ul#menu-footer-enggsol-details {
                    position: absolute;
                    top: 40px;
                    left: 90px;


                    @media only screen and (max-width:990px) {
                        position:inherit;
                        top: inherit;
                        left: inherit;
                    }



                    li {
                        a {
                            pointer-events:none;
                            text-decoration: none;
                            text-transform: uppercase;
                        }
                    }
                }
            }


            
            &:last-child {
                padding:0 !important;
                
                aside {
                    margin: 0 !important;

                    ul#menu-footer-menu {
                        margin:0 !important;

                        li {

                            a {
                                &:hover {
                                    color:$color-secondary;
                                }
                            }

                            &::after {
                                content: '|';
                                margin-left: 10px;
                            }

                            &:last-child {
                                &::after {
                                   display: none;
                                }

                            }

                            display: inline-block;
                            margin-right: 10px;
                        }
                      
                    }


                    div {

                        font-size: 0.750em;
                        padding: 11px 0px;
                    }
                }


                // copyright holder
                #text-5 {
                    > div {
                        padding:0 !important;
                    }
                }
                              
            }
            
            
            
                
                   
        }
    }
}



.extension {
    text-align: center;
    background: url("../custom-php/blues.jpg")repeat-x center;
    
    aside,div,a,span,ul,li,a {
        margin: 0;
        padding: 0;
    }
    
    ul {
        display: block;
        padding: 10px 0;
        
        li {
            display: inline-block;
            margin-right: 15px;
            
            
            a {
                color: $color-white;
                padding: 10px 15px;
                background: $color-primary;
                
                &:hover {
                    opacity: .6;
                }
            }
            
            &:nth-child(1) {
                a {
                    background: transparent !important;
                    font-weight: $bold;
                    pointer-events: none;
                }
            }
            
        }
    }
}


.scrollup {
    bottom: 5px !important;
    right: 5px !important;
    background: $color-secondary;
    border: 1px solid $color-lightgray;
    color: $color-white;
}

